<h1>編集</h1>
<%= form_with model: @post do |form| %>

  <div>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit '更新', class: 'btn-delete' %>

    <%= link_to '戻る', posts_path, class: 'btn-back'%>
  </div>
<% end %>

