<h1>Twittery</h1>

<div class=notice>
  <%= flash[:notice] %>
</div>

<%= link_to 'ツイート', new_post_path, class: 'btn btn-primary mb-3' %>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="post-card" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text"><%= post.content %></p>
          <%= link_to '詳細', post, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

