<h1>ツイート</h1>
<%= form_with model: @post do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "いまなにしてる?" %>
  </div>

  <div>
    <%= form.submit '投稿', class: 'btn-edit' %>
    <%= link_to '戻る', posts_path, class: 'btn-back' %>
  </div>
<% end %>

