
<p class="post-content"><%= @post.content %></p>
<div class="button-container">
  <%= link_to '戻る', posts_path, class: 'btn-back' %>
  <%= link_to '編集', edit_post_path(@post), class: 'btn-edit' %>
  <%= button_to '削除', @post, method: :delete, 
        class: 'btn-delete', 
        data: { turbo_confirm: '本当に削除しますか？' } %>
</div>

