body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #f1f1f1;
}

div {
  margin-top: 10px;
  color: #ff6f61;
}

.btn {
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #333;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.btn:hover {
  background-color: #555;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 0 20px;
}


.post-card {
  background-color: #333;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 50px;
  transition: transform 0.2s ease-in-out;
}

.post-content {
  background-color: #333;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 70px;
}


.post-card:hover {
  transform: translateY(-2px);
  border-color: #f1f1f1;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-bottom: 15px;
}

.btn-info {
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #17a2b8;
  color: white;
  text-decoration: none;
  text-align: center;
}

.btn-info:hover {
  background-color: #138496;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.btn-back, .btn-edit, .btn-delete {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-back {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.btn-back:hover {
  background-color: #45a049;
}

.btn-edit {
  background-color: #008CBA;
  color: white;
  border: none;
}

.btn-edit:hover {
  background-color: #007bb5;
}

.btn-delete {
  background-color: #f44336;
  color: white;
  border: none;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

